<app-header></app-header>
<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Danh sách chủ đề</span>
          </div>
          <ul>
            <li *ngFor="let topic of listTopic"><a
              [routerLink]="['../../topics',topic.id]">{{topic.name}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form [formGroup]="searchForm" (ngSubmit)="search()">
              <div class="hero__search__categories">
                Tất cả
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="Bạn muốn thuê HomeStay ở đâu?" formControlName="name">
              <button type="submit" class="site-btn">TÌM KIẾM</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>0396355470</h5>
              <span>Hỗ trợ 24/7</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="breadcrumb-section set-bg" [style.background]="'url(assets/static/img/anh1.jpg)'">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text" *ngIf="currentCategory != null">
          <h2>{{currentCategory.name}}</h2>
          <div class="breadcrumb__option">
            <a routerLink="/">Trang chủ</a>
            <span>{{currentCategory.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="product__discount">
          <div class="section-title product__discount__title" style="padding-top: 50px">
            <h2>Danh sách thể loại</h2>
          </div>
          <h3 *ngIf="listCategory.length ==0" style="text-align: center">Không có thể loại nào !!!</h3>
          <div class="row" *ngIf="this.listCategory.length > 0">
            <div class="col-lg-4 col-md-4">
              <div class="filter__found">
              </div>
            </div>
          </div>
          <div class="row">
            <div style="cursor: pointer;" class="col-lg-3 col-md-3 col-sm-3"
                 *ngFor="let category of listCategory  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;"
                 (click)="getDocumentByCategory(category.id)">
              <div class="product__discount__item">
                <div class="product__discount__item__pic set-bg" *ngIf="category.image != null">
                  <img width="100%" height="100%" [src]="fileUrl + '/files/' + category.image" alt="">
                </div>
                <div class="product__discount__item__text">
                  <h5>{{category.name}}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12" style="display: flex; justify-content: center;align-items: center">
            <ngb-pagination *ngIf="listCategory.length > pageSize"
                            [ellipses]="true" [rotate]="true"
                            [boundaryLinks]="true" [(page)]="page"
                            [pageSize]="pageSize"
                            [collectionSize]="this.listCategory.length"></ngb-pagination>
          </div>
        </div>
        <div class="filter__item">
          <div class="section-title product__discount__title">
            <h2>Danh sách tài liệu</h2>
          </div>
          <div class="row">
            <div style="cursor: pointer;" class="col-lg-3 col-md-3 col-sm-3"
                 *ngFor="let house of listHouseSaleOff  | slice: (pageDocument-1) * pageSizeDocument : ( pageDocument -1) * pageSizeDocument + pageSizeDocument;"
                 (click)="viewDetail(house.id)">
              <div class="product__discount__item">
                <div class="product__discount__item__pic set-bg" *ngIf="house.image != null">
                  <img width="100%" height="100%" [src]="fileUrl + '/files/' + house.image" alt="">
                </div>
                <div class="product__discount__item__text">
                  <h5>{{house.name}}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12" style="display: flex; justify-content: center;align-items: center">
            <ngb-pagination *ngIf="listHouseSaleOff.length > pageSizeDocument"
                            [ellipses]="true" [rotate]="true"
                            [boundaryLinks]="true" [(page)]="page"
                            [pageSize]="pageSize"
                            [collectionSize]="this.listCategory.length"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<app-quickview></app-quickview>
