<app-header></app-header>
<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Thể loại</span>
          </div>
          <ul>
            <li *ngFor="let category of listCategory"><a
              [routerLink]="['../../category',category.id]">{{category.name}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form [formGroup]="searchForm" (ngSubmit)="search()">
              <div class="hero__search__categories">
                Tất cả
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="Bạn muốn thuê HomeStay ở đâu?" formControlName="name">
              <button type="submit" class="site-btn">TÌM KIẾM</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>0396355470</h5>
              <span>Hỗ trợ 24/7</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="breadcrumb-section set-bg" [style.background]="'url(assets/static/img/anh1.jpg)'">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text" *ngIf="currentCategory != null">
          <h2>{{currentCategory.name}}</h2>
          <div class="breadcrumb__option">
            <a routerLink="/">Trang chủ</a>
            <span>{{currentCategory.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="product spad">
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-3 col-md-5" style="height: 100%">
        <div class="sidebar">
          <div class="sidebar__item">
            <h4>Thể loại HomeStay</h4>
            <ul *ngFor="let category of listCategory">
              <li><a [routerLink]="['../../category',category.id]">{{category.name}}</a></li>
            </ul>
          </div>

          <div class="sidebar__item">
            <div class="latest-product__text">
              <h4>HomeStay mới</h4>
              <div class="latest-product__slider owl-carousel">
                <div class="latest-prdouct__slider__item">
                  <a [routerLink]="['../house',house.id]" class="latest-product__item"
                     *ngFor="let house of listHouseLatest">
                    <div class="latest-product__item__pic">
                      <img [src]="house.images[0].link" *ngIf="house.images != null"
                           style="width: 110px; height: 110px; border-radius: 5px" alt="">
                    </div>
                    <div class="latest-product__item__text">
                      <h6>{{house.name}}</h6>
                      <span>{{house.price | currency: 'VND'}}</span>
                      <span *ngIf="house.discount!=0">Giảm: {{house.discount}}%</span>
                    </div>
                  </a>
                </div>
                <div class="latest-prdouct__slider__item">
                  <a [routerLink]="['../house',house.id]" class="latest-product__item"
                     *ngFor="let house of listHouseLatest">
                    <div class="latest-product__item__pic">
                      <img [src]="house.images[0].link" *ngIf="house.images != null"
                           style="width: 110px; height: 110px; border-radius: 5px" alt="">
                    </div>
                    <div class="latest-product__item__text">
                      <h6>{{house.name}}</h6>
                      <span>{{house.price | currency: 'VND'}}</span>
                      <span *ngIf="house.discount!=0">Giảm: {{house.discount}} %</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-lg-12 col-md-12">
        <div class="product__discount">
          <div class="section-title product__discount__title" style="padding-top: 50px">
            <h2>Danh sách thể loại</h2>
          </div>
          <h3 *ngIf="listCategory.length ==0" style="text-align: center">Không có thể loại nào !!!</h3>
          <div class="row" *ngIf="this.listCategory.length > 0">
            <div class="col-lg-4 col-md-4">
              <div class="filter__found">
                <h6><span>{{listCategory.length}}</span> thể loại</h6>
              </div>
            </div>
            <!-- <div class="col-lg-4 col-md-3">
              <div class="filter__option">
                <span class="icon_grid-2x2"></span>
                <span class="icon_ul"></span>
              </div>
            </div> -->
          </div>
          <div class="row">
            <div style="cursor: pointer;" class="col-lg-3 col-md-3 col-sm-3"
            *ngFor="let house of listCategory  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;" (click)="getDocumentByCategory(house.id)">
         <div class="product__discount__item">
           <div class="product__discount__item__pic set-bg" *ngIf="house.image != null">
             <img width="100%" height="100%" [src]="fileUrl + '/files/' + house.image" alt="">
           </div>
           <div class="product__discount__item__text">
             <h5>{{house.name}}</h5>
           </div>
         </div>
       </div>
          </div>
          <div class="col-12" style="display: flex; justify-content: center;align-items: center">
            <ngb-pagination *ngIf="listCategory.length > pageSize"
                            [ellipses]="true" [rotate]="true"
                            [boundaryLinks]="true" [(page)]="page"
                            [pageSize]="pageSize"
                            [collectionSize]="this.listCategory.length"></ngb-pagination>
          </div>
        </div>
        <div class="filter__item">
          <div class="section-title product__discount__title">
            <h2>Danh sách tài liệu</h2>
          </div>
          <div class="row">
            <div style="cursor: pointer;" class="col-lg-4 col-md-6 col-sm-6"
                 *ngFor="let house of listHouseSaleOff  | slice: (pageDocument-1) * pageSizeDocument : ( pageDocument -1) * pageSizeDocument + pageSizeDocument;" (click)="viewDetail(house.id)">
              <div class="product__discount__item">
                <div class="product__discount__item__pic set-bg" *ngIf="house.image != null">
                  <img width="100%" height="100%" [src]="fileUrl + '/files/' + house.image" alt="">
                </div>
                <div class="product__discount__item__text">
                  <h5>{{house.name}}</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12" style="display: flex; justify-content: center;align-items: center">
            <ngb-pagination *ngIf="listHouseSaleOff.length > pageSizeDocument"
                            [ellipses]="true" [rotate]="true"
                            [boundaryLinks]="true" [(page)]="page"
                            [pageSize]="pageSize"
                            [collectionSize]="this.listCategory.length"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<app-quickview></app-quickview>
