table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .col-4{
    display: flex;
    justify-content: left;
    align-items: center;
  }