<app-header></app-header>
<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Danh sách khoa</span>
          </div>
          <ul>
            <li *ngFor="let topic of listTopic"><a
              [routerLink]="['../topics',topic.id]">{{topic.name}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form [formGroup]="searchForm" (ngSubmit)="search()">
              <div class="hero__search__categories">
                Tất cả
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="Nhập tên tài liệu bạn muốn tìm ?" formControlName="name">
              <button type="submit" class="site-btn">TÌM KIẾM</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>0396355470</h5>
              <span>Hỗ trợ 24/7</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="breadcrumb-section set-bg" [style.background]="'url(assets/static/img/anh1.jpg)'">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text" *ngIf="currentDocument != null">
          <h2>{{currentDocument.name}}</h2>
          <div class="breadcrumb__option">
            <a routerLink="/">Trang chủ</a>
            <a routerLink="/">{{currentDocument.category.name}}</a>
            <span>{{currentDocument.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="related-product">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title related__product__title">
          <h2>{{documentDetail ? documentDetail.name ? documentDetail.name : '' : ''}}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <img [src]="fileUrl + '/files/' + documentDetail.image" *ngIf="documentDetail.image != null" alt=""
             style="width: 80%; height: 300px">
      </div>
      <div class="col-4">
        <h4><b>Thể loại :</b> {{documentDetail.category.name}}</h4>
        <h4><b>Nhà xuất bản :</b> {{documentDetail.publishingCompany.name}}</h4>
        <h4><b>Năm xuất bản :</b> {{documentDetail.publishingYear}}</h4>
        <h4><b>Tác giả chính :</b> {{documentDetail.mainAuthor}}</h4>
        <h4><b>Số lượt xem :</b> {{documentDetail.visitNumber}}</h4>
      </div>
      <div class="col-3">
      </div>
    </div>
    <h3 style="margin-bottom: 15px; margin-top: 15px; font-weight: bold">Nội dung tài liệu: </h3>
    <div class="row">
      <div class="col-12">
        <div id="outerContainer">
          <div class="pdf-container" *ngIf="currentUser">
            <div style="display: flex;justify-content: center;">
            </div>
            <pdf-viewer
              [src]="src"
              [rotation]="0"
              (after-load-complete)="afterLoadComplete($event)"
              [original-size]="false"
              [show-all]="true"
              [fit-to-page]="false"
              [zoom]="1"
              [zoom-scale]="'page-width'"
              [stick-to-page]="false"
              [render-text]="true"
              [external-link-target]="'blank'"
              [autoresize]="true"
              [show-borders]="true"
            ></pdf-viewer>
            <div style="display: flex;justify-content: center;">
            </div>
          </div>
          <div *ngIf="!currentUser">
            <p style="text-align: center">Bạn cần đăng nhập để có thể đọc tài liệu</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="filter__item">
        <div class="section-title product__discount__title">
          <h2>Danh sách tài liệu liên quan</h2>
        </div>
        <div class="row">
          <div style="cursor: pointer;" class="col-lg-3 col-md-4 col-sm-6"
               *ngFor="let document of listTopics  | slice: (pageDocument-1) * pageSizeDocument : ( pageDocument -1) * pageSizeDocument + pageSizeDocument;"
               (click)="getDetailDocument(document.id)">
            <div class="product__discount__item">
              <div class="product__discount__item__pic set-bg" *ngIf="document.image != null">
                <img width="100%" height="100%" [src]="fileUrl + '/files/' + document.image" alt="">
              </div>
              <div class="product__discount__item__text">
                <h5>{{document.name}}</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" style="display: flex; justify-content: center;align-items: center">
          <ngb-pagination *ngIf="listTopics.length > pageSizeDocument"
                          [ellipses]="true" [rotate]="true"
                          [boundaryLinks]="true" [(page)]="page"
                          [pageSize]="pageSize"
                          [collectionSize]="this.listTopic.length"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<app-quickview></app-quickview>
