<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formGroup" (ngSubmit)="save()">
      <div class="form-group">
        <label>Tên thể loại</label>
        <input
          type="text"
          name=""
          class="form-control"
          formControlName="name"
          id="name"
        />
        <div *ngIf="submitted && formGroup.controls['name'].errors?.required">
          <div
            *ngIf="formGroup.controls['name'].errors?.required"
            style="color: red"
          >
            * Tên thể loại không được để trống
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label>Khoa</label>
          <br>
          <select formControlName="topicId" class="custom-select" style="margin-left: 0px">
            <option *ngFor="let item of listTopic" [value]="item.id">
              {{item.name}}
            </option>
          </select>
          <div *ngIf="submitted && formGroup.controls['topicId'].errors?.required">
            <div
              *ngIf="formGroup.controls['topicId'].errors?.required"
              style="color: red"
            >
              * Khoa không được để trống
            </div>
          </div>
        </div>
        <div class="form-group col-6">
          <label for="exampleFormControlFile1">Ảnh</label>
          <input [disabled]="isInfo" type="file" class="form-control-file" (change)="upload($event.target.files)">
        </div>
      </div>
      <div class="form-group">
        <img width="100%" height="200px" [src]="isAdd?apiFileUrl+imageName:apiFileUrl+model.image" alt="Image">
      </div>
      <div class="form-group" align="center">
        <button
          [hidden]="checkButton"
          type="submit"
          class="btn btn-success"
          style="width: 100px"
          *ngIf="isEdit || isAdd"
        >
          Lưu
        </button>
        <button
          class="btn btn-danger"
          style="width: 100px; margin-left: 20px"
          (click)="modal.dismiss('Cross click')"
        >
          Thoát
        </button>
      </div>
    </form>
  </div>
</ng-template>
